Artifacts/Schemas/vendorschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchId" type="xs:string" />
        <xs:element name="vendor" type="xs:string" />
        <xs:element name="catalogitems">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="catalogitem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sku" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="shortdesc" />
                    <xs:element name="specifications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="specification">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="value" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="suggestedretailprice" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>